<section id="reasons" class="section">
    <div class="container">
        <div class="col-12 s-header">

            <h2>{{t "reasons.h2" }}</h2>
            <p class="subheader d-none d-lg-block">{{t "reasons.h3" }}</p>

        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-xl-6 reason">

                <picture id="pic-sleeping-baby" alt="Image of sleeping baby">
                    <source srcset="/images/daynight.jpg, /images/daynight@2x.jpg 2x, /images/daynight@3x.jpg 3x,"
                     media="(prefers-color-scheme: dark)">
                    <source srcset="/images/daynight.jpg, /images/daynight@2x.jpg 2x, /images/daynight@3x.jpg 3x,"
                        media="(prefers-color-scheme: light), (prefers-color-scheme: no-preference)">
                    <img class="img-fluid" src="/images/daynight.jpg">
                </picture>
                <picture class="img-top-left sm-right" id="pic-zzz" alt="Z Z bubble">
                    <source srcset="/images/zzz.svg" media="(prefers-color-scheme: dark)">
                    <source srcset="/images/zzz.svg"
                        media="(prefers-color-scheme: light), (prefers-color-scheme: no-preference)">
                    <img class="" src="/images/zzz.svg">
                </picture>

            </div>
            <div class="col-12 col-md-5 offset-xl-1 reason text">

                <h3>{{t "reasons.watch.h4" }}</h3>
                <p>{{t "reasons.watch.txt" }}</p>

            </div>
        </div>
        <div class="row">
           

             <div class="col-12 col-md-7 col-xl-6 offset-xl-1 order-md-2 reason">

                <picture id="pic-traveling" alt="Photo of baby playnig on the beach">
                    <source srcset="/images/traveling.jpg, /images/traveling@2x.jpg 2x, /images/traveling@3x.jpg 3x,"
                     media="(prefers-color-scheme: dark)">
                    <source srcset="/images/traveling.jpg, /images/traveling@2x.jpg 2x, /images/traveling@3x.jpg 3x,"
                        media="(prefers-color-scheme: light), (prefers-color-scheme: no-preference)">
                    <img class="img-fluid" src="/images/traveling.jpg">
                </picture>
                <picture class="img-top-left" id="pic-plane" alt="Image of the plane">
                    <source srcset="/images/plane.svg" media="(prefers-color-scheme: dark)">
                    <source srcset="/images/plane.svg"
                        media="(prefers-color-scheme: light), (prefers-color-scheme: no-preference)">
                    <img class="" src="/images/plane.svg">
                </picture>

            </div>
                        <div class="col-12 col-md-5 order-md-1 reason text">

                <h3>{{t "reasons.travel.h4" }}</h3>
                <p>{{t "reasons.travel.txt" }}</p>

            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-7 col-xl-6 reason">

                <picture id="pic-nohw" alt="Photo of hands using the phone">
                    <source srcset="/images/nohardware.jpg, /images/nohardware@2x.jpg 2x, /images/nohardware@3x.jpg 3x,"
                     media="(prefers-color-scheme: dark)">
                    <source srcset="/images/nohardware.jpg, /images/nohardware@2x.jpg 2x, /images/nohardware@3x.jpg 3x,"
                        media="(prefers-color-scheme: light), (prefers-color-scheme: no-preference)">
                    <img class="img-fluid" src="/images/nohardware.jpg">
                </picture>
                <picture class="img-top-left sm-right" id="pic-camera" alt="Image of crossed camera">
                    <source srcset="/images/camera.svg" media="(prefers-color-scheme: dark)">
                    <source srcset="/images/camera.svg"
                        media="(prefers-color-scheme: light), (prefers-color-scheme: no-preference)">
                    <img class="" src="/images/camera.svg">
                </picture>

            </div>
            <div class="col-12 col-md-5 offset-xl-1 reason text">

                <h3>{{t "reasons.nohw.h4" }}</h3>
                <p>{{t "reasons.nohw.txt" }}</p>
                <p class=" mt-16p mt-lg-18p">{{t "reasons.nohw.botxt" }}</p>
                <p class="d-none d-lg-block">
                    <a id="mac-reasons" class="nohover" href="{{t "platforms.maclink" }}">       
                        <svg class="dynamicsvg" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                            viewBox="0 0 24 24">
                            <title>iOS</title>
                            <path fill="currentColor" fill-rule="nonzero"
                                d="M18.034 11.7c.03 3.33 2.931 4.432 2.966 4.443-.017.078-.454 1.591-1.543 3.125-.909 1.352-1.86 2.674-3.373 2.696-1.47.035-1.964-.859-3.649-.859-1.7 0-2.227.837-3.636.894-1.44.052-2.54-1.442-3.483-2.782-1.882-2.735-3.348-7.706-1.383-11.09C4.885 6.47 6.622 5.4 8.477 5.373c1.443-.03 2.78.968 3.667.968.869 0 2.524-1.193 4.23-1.015.713.02 2.744.28 4.055 2.18-.106.063-2.42 1.415-2.395 4.195zM15.26 3.526c-.79.928-2.056 1.638-3.288 1.546-.162-1.252.463-2.583 1.162-3.396C13.923.755 15.295.048 16.392 0c.144 1.301-.375 2.584-1.133 3.526z" />
                        </svg>
                    </a>
                    <a id="win-reasons" href="{{t "platforms.winlink" }}"><img src="/images/windowscolor.svg" alt="Windows icon" ></a>
                    <a id="lnx-reasons" href="{{t "platforms.lnxlink" }}"><img src="/images/icon-linux-color.png" srcset="/images/icon-linux-color@2x.png 2x, /images/icon-linux-color@3x.png 3x" alt="Linux icon"></a>
                </p>
                <p class="d-inline-block d-lg-none">
                        
                        <svg class="dynamicsvg" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                            viewBox="0 0 24 24">
                            <title>iOS</title>
                            <path fill="currentColor" fill-rule="nonzero"
                                d="M18.034 11.7c.03 3.33 2.931 4.432 2.966 4.443-.017.078-.454 1.591-1.543 3.125-.909 1.352-1.86 2.674-3.373 2.696-1.47.035-1.964-.859-3.649-.859-1.7 0-2.227.837-3.636.894-1.44.052-2.54-1.442-3.483-2.782-1.882-2.735-3.348-7.706-1.383-11.09C4.885 6.47 6.622 5.4 8.477 5.373c1.443-.03 2.78.968 3.667.968.869 0 2.524-1.193 4.23-1.015.713.02 2.744.28 4.055 2.18-.106.063-2.42 1.415-2.395 4.195zM15.26 3.526c-.79.928-2.056 1.638-3.288 1.546-.162-1.252.463-2.583 1.162-3.396C13.923.755 15.295.048 16.392 0c.144 1.301-.375 2.584-1.133 3.526z" />
                        </svg>
               
                    <img src="/images/windowscolor.svg" alt="Windows icon" >
                    <img src="/images/icon-linux-color.png" srcset="/images/icon-linux-color@2x.png 2x, /images/icon-linux-color@3x.png 3x" alt="Linux icon">
                </p>
            </div>
        </div>
        <div class="row">
           
           
             <div class="col-12 col-md-7 col-xl-6 offset-xl-1 order-md-2 reason">

                <picture id="pic-athand" alt="Photo of phone monitoring baby">
                    <source srcset="/images/athand.jpg, /images/athand@2x.jpg 2x, /images/athand@3x.jpg 3x,"
                     media="(prefers-color-scheme: dark)">
                    <source  srcset="/images/athand.jpg, /images/athand@2x.jpg 2x, /images/athand@3x.jpg 3x,"
                        media="(prefers-color-scheme: light), (prefers-color-scheme: no-preference)">
                    <img class="img-fluid" src="/images/athand.jpg">
                </picture>
                <picture class="img-top-left" id="pic-signal" alt="Image of wifi signal">
                    <source srcset="/images/signal.svg" media="(prefers-color-scheme: dark)">
                    <source srcset="/images/signal.svg"
                        media="(prefers-color-scheme: light), (prefers-color-scheme: no-preference)">
                    <img class="" src="/images/signal.svg">
                </picture>

            </div>
             <div class="col-12 col-md-5 order-md-1 reason text last-sm">

                <h3>{{t "reasons.athand.h4" }}</h3>
                <p>{{t "reasons.athand.txt" }}</p>

            </div>
        </div>

    </div>
</section>