<header> <h1>testststststststststststsst</h1></header>
<main>
<script>
     var offers={{{json offers}}};
   
</script>
<div class="row m-5 p-5 ">
{{#each offers.availableProducts}}

  <div class="entry" style="width:100px!important;padding-top:200px !important">
       <p>{{objectId}}</p>  
  <p>{{period}}</p>  
 <p>{{price}}</p>  
  <p>{{currency}}</p> 
  </div>
{{/each}}
{{#if error}}

  <div class="entry col-12" style="padding-top:200px !important">
       <h2>{{error}}</h2> 
  </div>
{{/if}}
</div>
</main>