<section id="features" class="section">
    <div class="container">
        <div class="col-12 s-header">
            <h2>{{t "features.h2" }}</h2>
            <p class="subheader visiblelgxl">{{t "features.h3" }}</p>
        </div>
        <div class="row">
            <div class="col-12 col-sm-8 offset-sm-2 col-md-5 offset-md-1 col-lg-4 offset-lg-0 order-md-1 feature">
                <div class="f-inside">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path fill="#ff4f41" fill-rule="nonzero"
                        d="M16.566 16.59a2.42 2.42 0 0 1-2.156 2.395l-.112.006h-4.076L3.425 19A2.416 2.416 0 0 1 1 16.59V7.41c0-1.142.807-2.114 1.916-2.35l.204-.021L14.132 5c1.339 0 2.434 1.076 2.434 2.41v1.454c1.51-.976 2.61-1.672 3.15-1.976 1.74-.98 3.29-.072 3.284 1.433l-.001 1.212-.004 1.971-.001 1.126a2282.73 2282.73 0 0 0-.003 3.075c0 .67-.273 1.312-.875 1.664-.686.402-1.522.27-2.429-.283-.645-.393-1.761-1.172-3.12-2.155v1.658zm-2 0v-5.602l1.127.828-1.127.735V7.41a.424.424 0 0 0-.43-.411L3.26 7.038a.403.403 0 0 0-.26.373v9.178c0 .226.187.411.423.411l6.798-.009h4.004c.197-.04.341-.21.341-.402zm1.592-4.432c2 1.47 3.76 2.726 4.57 3.22.1.06.187.107.263.142l.003-2.893.001-1.126.004-1.97V8.48c-.06.024-.157.068-.3.15-.653.367-2.348 1.453-4.587 2.912l-.42.273.466.342z" />
                </svg>
                <h3>{{t "features.hd.h4" }}</h3>
                
                <p class="visiblelgxl">{{t "features.hd.txt" }}</p>
                </div>
            </div>
            <div class="col-12 col-sm-8 offset-sm-2 col-md-5 offset-md-1 col-lg-4 offset-lg-0 order-md-3 feature">
<div class="f-inside">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path fill="#fab500" fill-rule="nonzero"
                        d="M11 5.9a2.1 2.1 0 1 0 0 4.2 2.1 2.1 0 0 0 0-4.2zM17.1 17c0-.64-3.13-2.1-6.1-2.1-2.97 0-6.1 1.46-6.1 2.1v2.1h12.2V17zM11 4c2.21 0 4 1.79 4 4s-1.79 4-4 4-4-1.79-4-4 1.79-4 4-4zm0 9c2.67 0 8 1.34 8 4v3c0 .55-.45 1-1 1H4c-.55 0-1-.45-1-1v-3c0-2.66 5.33-4 8-4zm8.73-9.673a1 1 0 0 1 1.872-.706c.597 1.584.898 3.168.898 4.747 0 1.579-.3 3.163-.898 4.748a1 1 0 1 1-1.872-.706c.515-1.364.77-2.71.77-4.042 0-1.333-.255-2.678-.77-4.04zM17.08 5.39a1 1 0 0 1 1.842-.778c.384.91.579 1.83.579 2.757 0 .926-.195 1.847-.579 2.757a1 1 0 0 1-1.842-.779 5.047 5.047 0 0 0 .421-1.978c0-.653-.139-1.31-.421-1.979z" />
                </svg>
                <h3>{{t "features.talk.h4" }}</h3>
                <p class="visiblelgxl">{{t "features.talk.txt" }}</p></div>
            </div>
            <div class="col-12 col-sm-8 offset-sm-2 col-md-5 offset-md-1 col-lg-4 offset-lg-0 order-md-5 feature">
                <div class="f-inside">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path fill="#66ac16" fill-rule="nonzero"
                        d="M12.404 3.002c4.69.13 8.61 4.05 8.74 8.74.14 5.09-3.95 9.26-9 9.26-2.09 0-4-.71-5.52-1.91-.47-.36-.5-1.07-.08-1.49.36-.36.92-.39 1.32-.08 1.18.93 2.67 1.48 4.28 1.48 3.9 0 7.05-3.19 7-7.1-.05-3.72-3.18-6.85-6.9-6.9-3.92-.05-7.1 3.1-7.1 7h1.79a.5.5 0 0 1 .36.85l-2.79 2.8c-.2.2-.51.2-.71 0l-2.79-2.8c-.32-.31-.1-.85.35-.85h1.79c0-5.05 4.17-9.14 9.26-9zm3.055 10.48a1 1 0 1 1-1.06 1.696l-2.93-1.83A1 1 0 0 1 11 12.5L11 8.704a1 1 0 1 1 2 0v3.242l2.46 1.536z" />
                </svg>

                <h3>{{t "features.check.h4" }}</h3>
                <p class="visiblelgxl">{{t "features.check.txt" }}</p></div>
            </div>
        
            <div class="col-12 col-sm-8 offset-sm-2 col-md-5 offset-md-0 col-lg-4 offset-lg-0 order-md-2 feature">
<div class="f-inside">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path fill="#4285f4" fill-rule="nonzero"
                        d="M9.005 11A2.998 2.998 0 0 1 6 8c0-1.66 1.342-3 3.005-3A2.99 2.99 0 0 1 12 8c0 1.66-1.332 3-2.995 3zm0-2a1 1 0 1 0 .002-2.002A1 1 0 0 0 9.005 9zm7.5 2A2.998 2.998 0 0 1 13.5 8c0-1.66 1.342-3 3.005-3A2.99 2.99 0 0 1 19.5 8c0 1.66-1.332 3-2.995 3zm0-2a1 1 0 1 0 .002-2.002A1 1 0 0 0 16.505 9zM9 13c.562 0 1.12.044 1.832.173a.052.052 0 0 1 .012.099 1.328 1.328 0 0 0-.011.005C9.005 14.123 9 15.924 9 16.75V19H3c-.55 0-1-.45-1-1v-1.5C2 14.17 6.67 13 9 13zm-4.998 4.005h3.003c0-.712.076-1.315.228-1.81-1.586.334-2.663.793-3.231 1.377v.433zM13 17h7v-1.018c-.162-.134-.441-.29-.807-.436-.83-.333-1.946-.546-2.693-.546-.747 0-1.862.213-2.693.546-.366.146-.645.302-.807.436V17zm3.5-4c1.83 0 5.5.92 5.5 2.75V18c0 .55-.45 1-1 1h-9c-.55 0-1-.45-1-1v-2.25c0-1.83 3.67-2.75 5.5-2.75z" />
                </svg>

                <h3>{{t "features.invite.h4" }}</h3>
                <p class="visiblelgxl">{{t "features.invite.txt" }}</p></div>
            </div>
            <div class="col-12 col-sm-8 offset-sm-2 col-md-5 offset-md-0 col-lg-4 offset-lg-0 order-md-4 feature">
<div class="f-inside">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path fill="#9b1ff4" fill-rule="nonzero"
                        d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-1 17.93c-3.95-.49-7-3.85-7-7.93 0-.62.08-1.21.21-1.79L9 15v1c0 1.1.9 2 2 2v1.93zm6.9-2.54c-.26-.81-1-1.39-1.9-1.39h-1v-3c0-.55-.45-1-1-1H8v-2h2c.55 0 1-.45 1-1V7h2c1.1 0 2-.9 2-2v-.41c2.93 1.19 5 4.06 5 7.41 0 2.08-.8 3.97-2.1 5.39z" />
                </svg>

                <h3>{{t "features.reach.h4" }}</h3>
                <p class="visiblelgxl">{{t "features.reach.txt" }}</p></div>
            </div>
            <div class="col-12 col-sm-8 offset-sm-2 col-md-5 offset-md-0 col-lg-4 offset-lg-0 order-md-6 feature last">
<div class="f-inside">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path fill="#825f5f" fill-rule="nonzero"
                        d="M18 8.5h-1v-2c0-2.76-2.24-5-5-5s-5 2.24-5 5v2H6c-1.1 0-2 .9-2 2v10c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2v-10c0-1.1-.9-2-2-2zm-9-2c0-1.66 1.34-3 3-3s3 1.34 3 3v2H9v-2zm9 14H6v-10h12v10zm-6-3c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2z" />
                </svg>

                <h3>{{t "features.choose.h4" }}</h3>
                <p class="visiblelgxl">{{t "features.choose.txt" }}</p></div>
            </div>
        </div>
        <div id="banner" class="hiddenlgxl">
            <h3>{{t "features.banner.h4" }}</h3>
            <p>{{t "features.banner.txt" }}</p>
            <a id="mobile-banner-app-store" class="btn hidden display-ios hiddenlgxl buttonlink lg invert" href='{{t "platforms.ioslink" }}' role="button">
                <svg class="platformsvg" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <title>iOS</title>
                    <path fill="currentColor" fill-rule="nonzero"
                        d="M18.034 11.7c.03 3.33 2.931 4.432 2.966 4.443-.017.078-.454 1.591-1.543 3.125-.909 1.352-1.86 2.674-3.373 2.696-1.47.035-1.964-.859-3.649-.859-1.7 0-2.227.837-3.636.894-1.44.052-2.54-1.442-3.483-2.782-1.882-2.735-3.348-7.706-1.383-11.09C4.885 6.47 6.622 5.4 8.477 5.373c1.443-.03 2.78.968 3.667.968.869 0 2.524-1.193 4.23-1.015.713.02 2.744.28 4.055 2.18-.106.063-2.42 1.415-2.395 4.195zM15.26 3.526c-.79.928-2.056 1.638-3.288 1.546-.162-1.252.463-2.583 1.162-3.396C13.923.755 15.295.048 16.392 0c.144 1.301-.375 2.584-1.133 3.526z" />
                </svg>{{t "platforms.appStore" }}
            </a>
            <a id="mobile-banner-google-play" class="btn hidden display-android hiddenlgxl buttonlink lg invert" href='{{t "platforms.andlink" }}' role="button">
                <svg class="platformsvg" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <title>Google Play</title>
                    <path fill="currentColor" fill-rule="nonzero"
                        d="M3.62 23c-.375-.105-.62-.494-.62-1.095V2.068c0-.556.207-.932.536-1.068l9.37 11.055L3.62 23zm1.29-.421l11.28-6.65-2.748-3.241-8.531 9.89zM16.268 8.093L5.145 1.533l8.314 9.87 2.808-3.31zm.755.445l4.356 2.57c.825.486.833 1.27 0 1.76l-4.467 2.635-2.913-3.46 3.024-3.505z" />
                </svg>{{t "platforms.GooglePlay" }}
            </a>
        </div>

    </div>
</section>