<section id="reasons" class="section">
    <div class="container">
        <div class="col-12 s-header">

            <h2>{{t "reasons.h2" }}</h2>
            <p class="subheader visiblelgxl">{{t "reasons.h3" }}</p>

        </div>
        <div class="row">
            <div class="col-12 col-md-6 reason">
                <picture>
                    <source srcset="/images/images-separation-dark.svg" media="(prefers-color-scheme: dark)">
                    <img src="/images/images-separation.svg" alt="Dog waiting at the door">
                </picture>
                <h3>{{t "reasons.separation.h4" }}</h3>
                <p>{{t "reasons.separation.txt1" }}<a href="{{t "reasons.separation.link" }}">{{t "reasons.separation.txta" }}</a>{{t "reasons.separation.txt2" }}
                </p>
                
            </div>
            <div class="col-12 col-md-6 reason ">  
                     <picture>
                    <source srcset="/images/images-people-dark.svg" media="(prefers-color-scheme: dark)">
                    <img src="/images/images-people.svg" alt="Pair with the dog">
                </picture>                           
                <h3>{{t "reasons.watch.h4" }}</h3>
                <p>{{t "reasons.watch.txt" }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 reason last">
                    <picture>
                    <source srcset="/images/images-searching-dark.svg" media="(prefers-color-scheme: dark)">
                    <img src="/images/images-searching.svg" alt="Dog tracking">
                </picture> 
                <h3>{{t "reasons.track.h4" }}</h3>
                <p>{{t "reasons.track.txt" }}</p>
            </div>
            <div class="col-12 col-md-6 reason last-sm">
              <picture>
                            <source srcset="/images/images-mobile-download-dark.svg" media="(prefers-color-scheme: dark)">
                            <img src="/images/images-mobile-download.svg" alt="Mobile device">
                        </picture>
                <h3>{{t "reasons.nohw.h4" }}</h3>
                <p id="scroll-to">{{t "reasons.nohw.txt" }}</p>
            </div>
        </div>
    </div>
</section>