<section id="testimony">
    <div class="container">
        {{!-- swiper start --}}

        <!-- Swiper -->
        <div class="swiper-container col col-md-10 offset-md-1">
            <div class="swiper-wrapper  ">
                <div class="swiper-slide">
                    <div class="slide-content">
                        <img src="/images/female-1@2x.jpg" class="d-block " alt="{{t "testimonials.first.signature" }}">
                        <h2>{{t "testimonials.first.h2" }}</h2>
                        <p class="firstp">{{t "testimonials.first.txt" }}</p>
                        <p class="secondp">{{t "testimonials.first.signature" }}</p>
                    </div>
                </div>
                <div class="swiper-slide ">
                    <div class="slide-content">
                        <img src="/images/peter-1@2x.jpg" class="d-block" alt="{{t "testimonials.second.signature" }}">
                        <h2>{{t "testimonials.second.h2" }}</h2>
                        <p class="firstp">{{t "testimonials.second.txt" }}</p>
                        <p class="secondp">{{t "testimonials.second.signature" }}</p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="slide-content">
                        <img src="/images/female-2@2x.jpg" class="d-block " alt="{{t "testimonials.third.signature" }}">
                        <h2>{{t "testimonials.third.h2" }}</h2>
                        <p class="firstp">{{t "testimonials.third.txt" }}</p>
                        <p class="secondp">{{t "testimonials.third.signature" }}</p>
                    </div>
                </div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
            <!-- Add Arrows -->
            <div class="swiper-button-next visiblelgxl"></div>
            <div class="swiper-button-prev visiblelgxl"></div>
        </div>

        {{!-- swipwer end --}}
    </div>

</section>