<header class="container d-flex message">
    <main class="align-self-center">
        <section id="main" class="row align-items-center no-gutters downloadthx">
            <div class="col-12 col-lg-8 offset-lg-2">
                                                           <picture id="pic-thx-down" alt="Image of the party hat">
                        <source srcset="/images/image-dark-party.svg"
                            media="(prefers-color-scheme: dark)">
                        <source srcset="/images/image-party.svg">
                        <img class="feature-icon" src="/images/image-party.svg">
                    </picture>
                <div class="row msg">
                    <h2 class="col-12">{{t "downpages.downloadthx.h1" }}</h2>
                    <p class="col-12">{{t "downpages.downloadthx.h2" }}</p>
                </div>
                <div class="b-cont">
                    <a id="thanks-join-community" role="button" href="{{t "fblink" }}"
                        class="join-banner downloadthx">
                        <span class="firstsvg"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                viewBox="0 0 24 24">
                                <g fill="none" fill-rule="evenodd">
                                    <path d="M2 2h20v20H2z" />
                                    <path fill="#1877F2"
                                        d="M22 12.061C22 6.505 17.523 2 12 2S2 6.505 2 12.061c0 5.022 3.657 9.184 8.438 9.939v-7.03h-2.54V12.06h2.54V9.845c0-2.522 1.492-3.915 3.777-3.915 1.094 0 2.238.197 2.238.197v2.476h-1.26c-1.243 0-1.63.775-1.63 1.57v1.888h2.773l-.443 2.908h-2.33V22c4.78-.755 8.437-4.917 8.437-9.939" />
                                    <path fill-rule="nonzero"
                                        d="M10.438 22v-7.03h-2.54V12.06h2.54V9.845c0-2.522 1.492-3.915 3.777-3.915 1.094 0 2.238.197 2.238.197v2.476h-1.26c-1.243 0-1.63.775-1.63 1.57v1.888h2.773l-.443 2.908h-2.33V22c-.698.16-2.451.16-3.126 0z" />
                                </g>
                            </svg></span>{{t "downpages.downloadthx.banner" }}<span id="btnsvg"><svg
                                xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24">
                                <path fill="currentColor" fill-rule="nonzero"
                                    d="M7.998 2.985a1.25 1.25 0 0 1 1.77 0l8.31 8.31c.39.39.39 1.02 0 1.41l-8.31 8.31c-.49.49-1.28.49-1.77 0a1.25 1.25 0 0 1 0-1.77l7.24-7.25-7.25-7.25c-.48-.48-.48-1.28.01-1.76z" />
                            </svg></span>

                    </a></div>

            </div>
        </section>

    </main>

</header>
<div id="notwork" class="d-flex justify-content-center align-self-end">
    <p>{{t "downpages.downloadthx.repeattxt" }}
        {{!-- <span class="alldown">{{t "downpages.downloadthx.showall" }}</span>  --}}
        <a id="download-windows" class="hidden windown" href="{{t "platforms.winlink" }}" download>{{t "downpages.downloadthx.link" }}</a>
        <a id="download-macos" class="hidden macdown" href="{{t "platforms.maclink" }}" download>{{t "downpages.downloadthx.link" }}</a>
        <a id="download-linux" class="hidden lnxdown" href="{{t "platforms.lnxlink" }}" download>{{t "downpages.downloadthx.link" }}</a>
        <a id="download-windows-all" class="hidden alldown" href="{{t "platforms.winlink" }}" download>Windows, </a>
        <a id="download-macos-all" class="hidden alldown" href="{{t "platforms.maclink" }}" download>macOS, </a>
        <a id="download-linux-all" class="hidden alldown" href="{{t "platforms.lnxlink" }}" download>Linux</a><span class="alldown">.</span>

    </p>
</div>
 <div id="testdiv"></div>