{{!--<div id="modal-lg" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content container">

            <div class="mod-txt">
                <div class="row">

                    <div class="col-10 mod-h">
                        <h2 style="text-align: left;">{{t "modalplatforms.form.h2" }}</h2>
                    </div>

                    <div class="crossdiv col-2">
                        <a class="mod-close" role="button" data-dismiss="modal"><img alt="cross"
                                src="/images/menu-close.svg"></a>
                    </div>

                </div>

                 <p>
                    {{t "modalplatforms.form.txt1" }}
                </p> --}}
       {{!--     </div>

            <div class="mod-iconsd">
                 <h3>{{t "modalplatforms.form.1h4" }}</h3> --}}
{{!--                <div class="row">

                    <div id="iosmodd" class="mod-li col-12 col-lg-3 order-3">
                        <div class="w-100"><img id="iosmoddi" src="/images/i-os.svg" alt="iOS icon" /></div>
                        <a id="iosmod-d" class="btn button mobmodb" role="button" aria-pressed="true" href="{{t "platforms.ioslink" }}">{{t "platforms.appStore" }}</a>
                    </div>

                    <div id="andmodd" class="mod-li col-12 col-lg-3 order-2">
                        <div class="w-100"><img id="gplaymoddi" src="/images/android.svg" alt="Android icon" /></div>
                        <a id="gplaymodd" class="btn button mobmodb"
                            href="{{t "platforms.andlink" }}" role="button">{{t "platforms.GooglePlay" }}</a>
                    </div>

                    <div id="macmodd" class="mod-li col-12 col-lg-3 first order-4 ">
                        <div class="w-100"><img id="macosmoddi" src="/images/mac-os.svg" alt="MacOS icon" /></div>
                        <a id="macosmodd" class="btn button" href="{{t "platforms.maclink" }}" role="button" download>{{t "platforms.mac" }}</a>
                    </div>

                    <div id="winmodd" class="mod-li col-12 col-lg-3 order-1 ">
                        <div class="w-100"><img id="winmoddi" class="" src="/images/windowsd.svg" alt="Windows icon" />
                        </div>
                        <a id="winmod-d" class="btn button" href="{{t "platforms.winlink" }}" role="button" download>{{t "platforms.win" }}</a>
                    </div>

                    <div id="lnxmodd" class="mod-li col-12 col-lg-3 order-5 ">
                        <div class="w-100"><img id="lnxmoddi" class="" src="/images/linux@2x.jpg" alt="Linux icon" />
                        </div>
                        <a id="lnxmod-d" class="btn button" href="{{t "platforms.lnxlink" }}" role="button" download>{{t "platforms.lnx" }}</a>
                    </div>



                </div>

                 <div>

                    <h3>{{t "modalplatforms.form.2h4" }}</h3>
                    <p>{{t "modalplatforms.form.txt2" }}</p> --}}

                    {{!-- <form action="https://sendy.tappytaps.com/subscribe" method="POST" accept-charset="utf-8">
                        <div class="row">
                            <input type="email" name="email" placeholder="{{t "modalplatforms.form.email" }}" id="email" />

                            <input type="text" name="Source" id="Source" value="desktopnew"
                                style="display: none;" /><br />
                            <div style="display:none;">
                                <label for="hp">HP</label><br />
                                <input type="text" name="hp" id="hp" />
                            </div>
                            <input type="hidden" name="list" value="bZbfk2Y0OLV0OXBaEWvRPQ" />
                            <input type="hidden" name="subform" value="yes" />
                            <input onclick="dataLayer.push({'event': 'submit-click-desk'});" type="submit" name="submit" value="{{t "modalplatforms.form.submit" }}" class="submit"/>
                        </div>
                    </form> --}}
                    {{!-- <form id="form2" method="post" action="https://sendy.tappytaps.com/subscribe" class="formcls"
                        data-sitekey="6LdYsmsUAAAAAPXVTt-ovRsPIJ_IVhvYBBhGvRV6">
                        <div class="row">
                            <input type="hidden" name="list" value="bZbfk2Y0OLV0OXBaEWvRPQ">
                            <input type="text" name="hp" value="" class="hidden">
                            <input type="hidden" name="Source" value="desktopnew">
                            <input type="hidden" name="successRedirectUrl" value="">
                            <div class="datain"><input name="email" type="email"
                                    placeholder="{{t "modalplatforms.form.email" }}">
                                <button class="submit" type="submit">Sign me up</button></div>
                        </div>
                    </form>
                    <p class="formmsg hidden"></p>
                </div> 
            </div>

        </div>
    </div>
</div>--}}