<!-- modal 2-->
{{!--<div id="modal-comingsoon-ios" class="modal fade" tabindex="-1" role="dialog"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content container">

            <div class="mod-txt">
                <div class="row">

                    <div class="col-10 mod-h">
                        <h3>{{t "modalcomingsoonios.h4" }}</h3>
                    </div>

                    <div class="crossdiv col-2">
                        <a class="mod-close" role="button" data-dismiss="modal"><img alt="cross" src="/images/menu-close.svg"></a>
                    </div>

                </div>

                <p>
                    {{t "modalcomingsoonios.txt" }}
                </p>
                 <form action="https://sendy.tappytaps.com/subscribe" method="POST" accept-charset="utf-8">
                    <div class="row">
                        <input type="email" name="email" placeholder="{{t "modalplatforms.form.email" }}" id="email" />

                        <input type="text" name="Source" id="Source" value="appstoresoon"
                            style="display: none;" /><br />
                        <div style="display:none;">
                            <label for="hp">HP</label><br />
                            <input type="text" name="hp" id="hp" />
                        </div>
                        <input type="hidden" name="list" value="bZbfk2Y0OLV0OXBaEWvRPQ" />
                        <input type="hidden" name="subform" value="yes" />
                        <input onclick="dataLayer.push({'event': 'submit-click-ios'});" type="submit" name="submit" value="{{t "modalplatforms.form.submit" }}" class="submit"/>
                    </div>
                </form> 
                <form id="form1" method="post" action="https://sendy.tappytaps.com/subscribe" class="formcls" data-sitekey="6LdYsmsUAAAAAPXVTt-ovRsPIJ_IVhvYBBhGvRV6">
                <div class="row">
        <input type="hidden" name="list" value="bZbfk2Y0OLV0OXBaEWvRPQ">
        <input type="text" name="hp" value="" class="hidden">
        <input type="hidden" name="Source" value="appstoresoon">
        <input type="hidden" name="successRedirectUrl" value="">
        <div class="datain"><input name="email" type="email" placeholder="{{t "modalplatforms.form.email" }}">
            <button class="submit" type="submit">Sign me up</button></div>
            </div>
    </form>
    <p class="formmsg hidden"></p>
            </div>

        </div>
    </div>
</div>--}}