<div id="main" class="row align-items-center no-gutters">
    <div id="content" class="col-12 col-md-6 col-lg-7">
        <div id="headings" class="col-12">
              {{!-- <a id="link-holiday-sale" href="/pricing/offer_21_off"><img id="banner-special-promo" class="img-fluid" src="/images/holiday-banner-{{t "home.lang" }}@2x.jpg" alt="Holiday 21% banner"></a> --}}
              {{!-- <a id="link-giftcard-banner" href="/{{t "home.lang" }}/gift-card"><img id="banner-special-promo" class="img-fluid" src="/images/giftcard-banner-{{t "home.lang" }}.svg" alt="Gift card banner"></a> --}}
              {{!-- <a id="link-newyear-banner" href="/{{t "home.lang" }}/pricing/offer_21_off"><img id="banner-special-promo" class="img-fluid" src="/images/newyear-banner-{{t "home.lang" }}.svg" alt="New Year deal banner"></a> --}}
            <h1>{{t "header.h1" }}</h1>
            <h2 class="h-header">{{t "header.h2" }}</h2>
        </div>

        <div id="platforms" class="row">

            <div class="col-12 storebtns">
                <div class="ablock">

                    <a id="btn-desktop-download" class="btn visiblelgxl buttonlink lg"
                        href="{{t "home.lang" }}/download" role="button">{{t "header.download" }}</a>


                    <a id="mobile-main-app-store" class="btn hiddenlgxl hidden display-ios buttonlink lg"
                        href='{{t "platforms.ioslink" }}' role="button">
                        <svg class="platformsvg" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                            viewBox="0 0 24 24">
                            <title>iOS</title>
                            <path fill="currentColor" fill-rule="nonzero"
                                d="M18.034 11.7c.03 3.33 2.931 4.432 2.966 4.443-.017.078-.454 1.591-1.543 3.125-.909 1.352-1.86 2.674-3.373 2.696-1.47.035-1.964-.859-3.649-.859-1.7 0-2.227.837-3.636.894-1.44.052-2.54-1.442-3.483-2.782-1.882-2.735-3.348-7.706-1.383-11.09C4.885 6.47 6.622 5.4 8.477 5.373c1.443-.03 2.78.968 3.667.968.869 0 2.524-1.193 4.23-1.015.713.02 2.744.28 4.055 2.18-.106.063-2.42 1.415-2.395 4.195zM15.26 3.526c-.79.928-2.056 1.638-3.288 1.546-.162-1.252.463-2.583 1.162-3.396C13.923.755 15.295.048 16.392 0c.144 1.301-.375 2.584-1.133 3.526z" />
                        </svg>
                        {{t "platforms.appStore" }}
                    </a>


                    <a id="mobile-main-google-play" class="btn hiddenlgxl hidden display-android buttonlink lg"
                        href='{{t "platforms.andlink" }}' role="button">
                        <svg class="platformsvg" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                            viewBox="0 0 24 24">
                            <title>Google Play</title>
                            <path fill="currentColor" fill-rule="nonzero"
                                d="M3.62 23c-.375-.105-.62-.494-.62-1.095V2.068c0-.556.207-.932.536-1.068l9.37 11.055L3.62 23zm1.29-.421l11.28-6.65-2.748-3.241-8.531 9.89zM16.268 8.093L5.145 1.533l8.314 9.87 2.808-3.31zm.755.445l4.356 2.57c.825.486.833 1.27 0 1.76l-4.467 2.635-2.913-3.46 3.024-3.505z" />
                        </svg>
                        {{t 'platforms.GooglePlay' }}

                    </a>
                </div>

            </div>
            <div class="col-12 others">
                <a id="check-platforms-modal" class="hiddenlgxl" href="#modal" role="button"
                    data-toggle="modal">{{t "header.platforms" }}</a>

                <p class="visiblelgxl">{{t "platforms.available" }}&nbsp;
                    <a id="desktop-ios-link" href='{{t "platforms.ioslink" }}'>{{t "platforms.ios" }},</a>
                    <a id="desktop-android-link" href='{{t "platforms.andlink" }}'>{{t "platforms.and" }},</a>
                    <a id="desktop-macos-link" href='{{t "platforms.maclink" }}'>{{t "platforms.mac" }},</a>
                    <a id="desktop-windows-link"
                        href='{{t "platforms.winlink" }}'>{{t "platforms.win" }}</a>&nbsp;{{t "platforms.a" }}
                    <a id="desktop-linux-link" href='{{t "platforms.lnxlink" }}'>{{t "platforms.lnx" }}</a>.
                </p>
            </div>
            {{!-- definovano views/partials/home/  --}}

        </div>
    </div>
    {{> home/header/video}}
</div>