<!-- modal 2-->
<div id="modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content container">

            <div class="mod-txt">
                <div class="row">

                    <div class="col-11 mod-h">
                        <h3>{{t "header.modalplatforms" }}</h3>
                    </div>

                    <div class="col-1 mod-h">
                        <a class="mod-close" role="button" data-dismiss="modal"><img alt="cross"
                                src="/images/menu-close.svg"></a>
                    </div>

                </div>

                <p>
                    {{t "modalplatforms.txt" }}
                </p>
            </div>

            <div class="mod-icons">

                <div class="row">

                    <div class="mod-li col-12 modal_hv">
                        <h4 class="modalh">{{t "modalplatforms.1mobh5" }}</h4>

                    </div>
                    <div class="d-flex">
                        <a id="mobile-modal-app-store" class="d-inline-flex mb-4 mr-3" href='{{t "platforms.ioslink" }}'
                            role="button">
                            <img class="img-fluid" alt="App store" src="/images/app-store.svg">
                        </a>
                        <a id="mobile-modal-google-play" class="d-inline-flex mb-4" href='{{t "platforms.andlink" }}'>
                            <img class="img-fluid" alt="Google play" src="/images/google-play.svg">
                        </a>
                    </div>

                    <div class="mod-li col-12 modal_hv">
                        <h4 class="modalh">{{t "modalplatforms.2mobh5" }}</h4>

                    </div>
                    <div class="mod-li col-12">
                        <img src="/images/ios.svg" alt="MacOS icon" >
                        <p class="blackp">{{t "platforms.mac" }}</p>
                    </div>

                    <div class="mod-li col-12">
                        <img src="/images/windowscolor.svg" alt="Windows icon" >
                        <p class="blackp">{{t "platforms.win" }}</p>
                    </div>

                    <div class="mod-li col-12">
                        <img src="/images/icon-linux-color.png" srcset="/images/icon-linux-color@2x.png 2x, /images/icon-linux-color@3x.png 3x" alt="Linux icon">
                        <p class="blackp">{{t "platforms.lnx" }}</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>