<header>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8 offset-lg-2">
                <div class="row msg">
                    <h1 class="col-12">{{t "comparisonpage.h1" }}</h1>
                    <p class="subheader col-12">{{t "comparisonpage.h2" }}</p>
                </div>
            </div>
        </div>


        <div id="table-div" class="col col-md-10 offset-md-1 mt-5">
            <div class="table-responsive">
                <table id="compare_table" class="table">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col" class="text-center">
                                
                                 <picture>
                    <source srcset="/images/dm-logotyp-dark.svg" media="(prefers-color-scheme: dark)">
                    <img class="img-fluid" src="/images/dm-logotyp.svg" alt="Dog Monitor logo">
                </picture>
                            </th>
                            <th scope="col" class="bg-light text-center">
                                
                                <picture>
                <source srcset="/images/barkio-logotyp-dark.svg" media="(prefers-color-scheme: dark)">
                <source srcset="/images/barkio-logotyp.svg" media="(prefers-color-scheme: light), (prefers-color-scheme: no-preference)">
                <img class="img-fluid" src="/images/barkio-logotyp.svg" alt="Barkio logo">
            </picture>
                            </th>
                        </tr>
                    </thead>
                    <tbody class="tab_content">
                        <tr>
                            <th scope="row">{{t "comparisonpage.1mobile.h" }}</th>
                            <td class="text-center text-muted">{{t "comparisonpage.1mobile.dm" }}</td>
                            <td class="bg-light text-muted text-center">{{t "comparisonpage.1mobile.barkio" }}</td>
                        </tr>
                        <tr>
                            <th scope="row">{{t "comparisonpage.2desktop.h" }}</th>
                            <td class="text-center text-muted">{{t "comparisonpage.2desktop.dm" }}</td>
                            <td class="bg-light text-muted text-center">{{t "comparisonpage.2desktop.barkio" }}</td>
                        </tr>
                        <tr>
                            <th scope="row">{{t "comparisonpage.3pricing.h" }}</th>
                            <td class="text-center text-muted">{{t "comparisonpage.3pricing.dm" }}</td>
                            <td class="bg-light text-muted text-center">{{t "comparisonpage.3pricing.barkio" }}</td>
                        </tr>
                        <tr>
                            <th scope="row">{{t "comparisonpage.4download.h" }}</th>
                            <td class="text-center text-muted">{{t "comparisonpage.4download.dm" }}</td>
                            <td class="bg-light text-muted text-center">{{t "comparisonpage.4download.barkio" }}</td>
                        </tr>
                        <tr>
                            <th scope="row">{{t "comparisonpage.5video.h" }}</th>
                            <td class="text-center">
                                <img src="/images/ic_check_bg.svg" alt="Check icon">
                            </td>
                            <td class="bg-light text-center">
                                <img src="/images/ic_check_bg.svg" alt="Check icon">
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">{{t "comparisonpage.6audio.h" }}</th>
                            <td class="text-center">
                                <img src="/images/ic_check_bg.svg" alt="Check icon">
                            </td>
                            <td class="bg-light text-center">
                                <img src="/images/ic_check_bg.svg" alt="Check icon">
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">{{t "comparisonpage.7personstations.h" }}</th>
                            <td class="text-center">
                                <img src="/images/ic_check_bg.svg" alt="Check icon">
                            </td>
                            <td class="bg-light text-center text-muted">
                                <img src="/images/ic_check_bg.svg" alt="Check icon">
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">{{t "comparisonpage.8dogstations.h" }}</th>
                            <td class="text-center">
                                <img src="/images/ic_cross_bg.svg" alt="Cross icon">
                            </td>
                            <td class="bg-light text-center text-muted">{{t "comparisonpage.8dogstations.barkio" }}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">{{t "comparisonpage.9alog.h" }}</th>
                            <td class="text-center">
                                <img src="/images/ic_cross_bg.svg" alt="Cross icon">
                            </td>
                            <td class="bg-light text-center">
                                <img src="/images/ic_check_bg.svg" alt="Check icon">
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">{{t "comparisonpage.10graphs.h" }}</th>
                            <td class="text-center">
                                <img src="/images/ic_cross_bg.svg" alt="Cross icon">
                            </td>
                            <td class="bg-light text-muted text-center">{{t "comparisonpage.10graphs.barkio" }}</td>
                        </tr>
                        <tr>
                            <th scope="row">{{t "comparisonpage.11commands.h" }}</th>
                            <td class="text-center">
                                <img src="/images/ic_check_bg.svg" alt="Check icon">
                            </td>
                            <td class="bg-light text-center">
                                <img src="/images/ic_check_bg.svg" alt="Check icon">
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">{{t "comparisonpage.12syncommands.h" }}</th>
                            <td class="text-center">
                                <img src="/images/ic_cross_bg.svg" alt="Cross icon">
                            </td>
                            <td class="bg-light text-center">
                                <img src="/images/ic_check_bg.svg" alt="Check icon">
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">{{t "comparisonpage.13twoway.h" }}</th>
                            <td class="text-center">
                                <img src="/images/ic_cross_bg.svg" alt="Cross icon">
                            </td>
                            <td class="bg-light text-center">
                                <img src="/images/ic_check_bg.svg" alt="Check icon">
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">{{t "comparisonpage.14powersave.h" }}</th>
                            <td class="text-center">
                                <img src="/images/ic_cross_bg.svg" alt="Cross icon">
                            </td>
                            <td class="bg-light text-center">
                                <img src="/images/ic_check_bg.svg" alt="Check icon">
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">{{t "comparisonpage.15background.h" }}</th>
                            <td class="text-center">
                                <img src="/images/ic_check_bg.svg" alt="Check icon">
                            </td>
                            <td class="bg-light text-center">
                                <img src="/images/ic_check_bg.svg" alt="Check icon">
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">{{t "comparisonpage.16talk.h" }}</th>
                            <td class="text-center">
                                <img src="/images/ic_check_bg.svg" alt="Check icon">
                            </td>
                            <td class="bg-light text-center">
                                <img src="/images/ic_check_bg.svg" alt="Check icon">
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">{{t "comparisonpage.17profile.h" }}</th>
                            <td class="text-center">
                                <img src="/images/ic_cross_bg.svg" alt="Cross icon">
                            </td>
                            <td class="bg-light text-center">
                                <img src="/images/ic_check_bg.svg" alt="Check icon">
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">{{t "comparisonpage.18notify.h" }}</th>
                            <td class="text-center">
                                <img src="/images/ic_cross_bg.svg" alt="Cross icon">
                            </td>
                            <td class="bg-light text-center">
                                <img src="/images/ic_check_bg.svg" alt="Check icon">
                            </td>
                        </tr>
                        <tr class="d-none d-lg-table-row">
                            <th scope="row"></th>
                            <td class="text-center">
                                <a href="https://www.dogmonitorapp.com/?utm_source=barkio&utm_medium=web&utm_campaign=barkio_vs_dog_monitor"
                                    class="btn buttonlink lg btn-outline-primary">{{t "comparisonpage.dmbutton" }}</a>
                            </td>
                            <td class="bg-light text-center ">
                                <a id="comparison-mod" class="btn buttonlink lg" href="/download"
                                    role="button">{{t "comparisonpage.barkbutton" }}</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div id="c-button" class="d-lg-none">
                    <a id="c-iosbtn" class="btn hidden hios hiddenlgxl buttonlink lg" href='{{t "platforms.ioslink" }}'
                        role="button">{{t "comparisonpage.barkbutton" }}</a>
                    <a id="c-gpbtn" class="btn hidden hian hiddenlgxl buttonlink lg" href='{{t "platforms.andlink" }}'
                        role="button">{{t "comparisonpage.barkbutton" }}</a>
                </div>
            </div>
        </div>

    </div>
</header>
{{> home/header/modalplatforms}}