<nav id="nav" class="navbar navbar-expand-lg">
    <div class="container">

        <a id="logo" class="navbar-brand" href="/{{t "home.lang" }}">
            <picture class="logo" id="menuimg" alt="Barkio">
                <source srcset="/images/Bibino-logotype-dark.svg" media="(prefers-color-scheme: dark)">
                <source srcset="/images/Bibino-logotype.svg"
                    media="(prefers-color-scheme: light), (prefers-color-scheme: no-preference)">
                <img src="/images/Bibino-logotype.svg">
            </picture>
        </a>


        <button id="menubtn" class="menu-icon d-inline d-lg-none" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation"><img alt="menu" id="menuicon" src="/images/menu.svg">
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul id="selectMenuReact" class="navbar-nav ml-auto">


                <li id="selectItemGiftReact" class="nav-item">
                    <a id="menu-gift" class="nav-link menu" href="/{{t "home.lang" }}/gift-card">{{t "menu.gift" }}</a>
                </li>
                <li id="selectItemBlogReact" class="nav-item">
                    <a id="menu-blog" class="nav-link menu" href="/blog">{{t "menu.blog" }}</a>
                </li>
                <li id="selectItemHelpReact" class="nav-item">
                    <a id="menu-mail" class="nav-link menu" href="{{t "menu.supportlink" }}" target="_blank"
                        rel="noopener">{{t "menu.support" }}</a>
                </li>
                  

                <li id="selectItemPricingReact" class="nav-item">
                    <a id="menu-price" class="nav-link menu"
                        href="/{{t "home.lang" }}/pricing">
                        {{!-- <span id="holiday-21">-21%</span>&nbsp; --}}
                        {{t "comparisonpage.3pricing.h" }}</a>

                </li>
                <li id="selectItemLoginReact" class="nav-item">
                    <a id="menu-log" class="nav-link menu"
                        href="/{{t "home.lang" }}/account">{{t "account.button.login" }}</a>

                </li>
                <li id="selectItemFbReact" class="nav-item">
                    <a id="menu-fb" class="nav-link menu" href="{{t "fblink" }}" target="_blank" rel="noopener">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <g fill="none" fill-rule="evenodd">
                                <path d="M2 2h20v20H2z" />
                                <path fill="#1877F2"
                                    d="M22 12.061C22 6.505 17.523 2 12 2S2 6.505 2 12.061c0 5.022 3.657 9.184 8.438 9.939v-7.03h-2.54V12.06h2.54V9.845c0-2.522 1.492-3.915 3.777-3.915 1.094 0 2.238.197 2.238.197v2.476h-1.26c-1.243 0-1.63.775-1.63 1.57v1.888h2.773l-.443 2.908h-2.33V22c4.78-.755 8.437-4.917 8.437-9.939" />
                                <path fill-rule="nonzero"
                                    d="M10.438 22v-7.03h-2.54V12.06h2.54V9.845c0-2.522 1.492-3.915 3.777-3.915 1.094 0 2.238.197 2.238.197v2.476h-1.26c-1.243 0-1.63.775-1.63 1.57v1.888h2.773l-.443 2.908h-2.33V22c-.698.16-2.451.16-3.126 0z" />
                            </g>
                        </svg>
                        <span class="d-inline d-md-none">{{t "menu.fb" }}</span>
                    </a>
                </li>
                <li id="selectItemTryReact" class="nav-item d-none d-lg-inline-block">
                    <a id="menu-try" class="btn buttonlink" href="/{{t "home.lang" }}/download"
                        role="button">{{t "menu.sale" }}</a>
                </li>

                <li id="selectItemGooglePlayReact" class="nav-item d-inline d-md-none">
                    <a id="mobile-menu-google-play" class="btn hidden display-android buttonlink"
                        href='{{t "platforms.andlink" }}' role="button">
                        <svg class="platformsvg" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                            viewBox="0 0 24 24">
                            <title>Google Play</title>
                            <path fill="currentColor" fill-rule="nonzero"
                                d="M3.62 23c-.375-.105-.62-.494-.62-1.095V2.068c0-.556.207-.932.536-1.068l9.37 11.055L3.62 23zm1.29-.421l11.28-6.65-2.748-3.241-8.531 9.89zM16.268 8.093L5.145 1.533l8.314 9.87 2.808-3.31zm.755.445l4.356 2.57c.825.486.833 1.27 0 1.76l-4.467 2.635-2.913-3.46 3.024-3.505z" />
                        </svg>{{t "platforms.GooglePlay" }}
                    </a>
                    <a id="mobile-menu-app-store" class="btn hidden display-ios buttonlink"
                        href='{{t "platforms.ioslink" }}' role="button">
                        <svg class="platformsvg" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                            viewBox="0 0 24 24">
                            <title>iOS</title>
                            <path fill="currentColor" fill-rule="nonzero"
                                d="M18.034 11.7c.03 3.33 2.931 4.432 2.966 4.443-.017.078-.454 1.591-1.543 3.125-.909 1.352-1.86 2.674-3.373 2.696-1.47.035-1.964-.859-3.649-.859-1.7 0-2.227.837-3.636.894-1.44.052-2.54-1.442-3.483-2.782-1.882-2.735-3.348-7.706-1.383-11.09C4.885 6.47 6.622 5.4 8.477 5.373c1.443-.03 2.78.968 3.667.968.869 0 2.524-1.193 4.23-1.015.713.02 2.744.28 4.055 2.18-.106.063-2.42 1.415-2.395 4.195zM15.26 3.526c-.79.928-2.056 1.638-3.288 1.546-.162-1.252.463-2.583 1.162-3.396C13.923.755 15.295.048 16.392 0c.144 1.301-.375 2.584-1.133 3.526z" />
                        </svg>{{t "platforms.appStore" }}
                    </a>
                </li>
            </ul>
        </div>

    </div>
</nav>